<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/" exact>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workshops">Workshops</a>
                </li>
            </ul>
        </nav>
        <div class="container my-4">
            <% if( error ) { %>
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <strong><%= error.message %></strong>
                        </div>
                    </div>
                </div>
            <% } %>

            <% if( !error ) { %>
            <div class="row" >
                <div class="col-12 clearfix">
                    <div class="row">
                        <h2>
                            
                            <%=workshop.name%>
                        </h2>
                        <hr />
                        <div class="row my-4">
                            <div class="col-4">
                                <img class="img-fluid" src="<%=workshop.imageUrl%>" alt="<%=workshop.name%>" />
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-3">
                                        <p>
                                            <small>
                                                
                                                <%=workshop.startDate%> - <%=workshop.endDate%>
                                            </small>
                                        </p>
                                        <p>
                                            <small class="text-muted">
                                                <!-- time -->
                                                <%=workshop.time%>
                                            </small>
                                        </p>
                                    </div>
                                    <div class="col-3">
                                        <p> 
                                            <!-- 'fa-check' or 'fa-times' -->
                                            
                                            <!-- <i :class = " workshop.modes.online ? 'fa-check' : 'fa-times' " /> -->
                                            <small >Online</small>
                                            
                                        </p>
                                        <p>
                                            <!-- 'fa-check' or 'fa-times' -->
                                            <!-- <i :class = " workshop.modes.inPerson ? 'fa-check' : 'fa-times' " /> -->
                                            <small>In person</small>
                                            
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12" ><%-workshop.description%></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            <% } %>
        </div>
    </body>
</html>